{% extends 'base.html' %}
{% block content %}
  <div class="col-sm-12">
    <p>
      <form action="/add">
        <button class="btn btn-primary" type="submit">
          Add Transaction
        </button>
      </form>
    </p>
    <ul>
    <table class="table">
      <thead>
        <th>Type</th>
        <th>date</th>
        <th>name</th>
        <th>cost</th>
      </thead>
      <tbody>
        {% for t in tacts %}
          <tr>
            <th scope="row">{{ t.type_}}</th>
            <td>{{ t.date }}</td>
            <td>{{ t.name }}</td>
            <td>{{ t.cost }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </ul>
  </div>
{% endblock %}